@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

body {
  background-color: cornflowerblue;
}

.invis {
  display: none;
}

img{
  height: 5em;
}

li {
  list-style-type: none;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

.pawButton {
  position: relative;
  border: 0;
  top: 1.5em;
  left: 0.5em;
  background-color: cornflowerblue;
}

.header {
  text-align: center;
  position: relative;
  top: 5vh;
  left: 1.5vw;
}

.main {
  position: relative;
  top: 10vh;
  text-align: center;
}

.listText {
  text-decoration: underline;
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

#revealButton {
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}

#nameInput{
  font-family: 'Cormorant Garamond', serif;
  font-size: 24px;
}