@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap");

body {
  background-color: cornflowerblue;
}

.invis {
  display: none !important;
}

img {
  height: 5em;
}

.nameList {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.nameItem {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  width: 25vw;
  height: 2em;
  text-align: center;
  overflow: hidden;
}

.pawButton {
  position: relative;
  border: 0;
  top: 1.5em;
  left: 0.5em;
  background-color: cornflowerblue;
}

.header {
  text-align: center;
  position: relative;
  top: 5vh;
  left: 2vw;
}

.main {
  position: relative;
  top: 6vh;
  text-align: center;
}

.listText {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
}

#revealButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  position: relative;
  right: 1em;
}

#votingButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  position: relative;
}

#votingLink {
  color: black;
  text-decoration: none;
}

#nameInput {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
}

.votingHeader {
  position: relative;
  top: 3vh;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
}

#voteSubmitButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  position: relative;
  right: 1em;
}

#voteRevealButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
  position: relative;
  left: 0.25em;
}

#homeButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
}

.lockVotesButton {
  font-family: "Cormorant Garamond", serif;
  font-size: 36px;
}

#homeLink {
  color: black;
  text-decoration: none;
}

.voteItem {
  border: solid 2px black;
  background-color: darkcyan;
  border-radius: 10px;
  width: calc(25vw - 5px);
  height: calc(2em - 4px);
}

.voteList {
  display: flex;
  width: 100vw;
  flex-wrap: wrap;
}

.hidden {
  visibility: hidden;
}